:host ::ng-deep .p-datatable-thead tr th {
  background-color: var(--p-card-background);
}

.overflow-container {
  overflow-x: auto;
  width: 100%;
  height: 500px;
}

.scroll-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
}

.scroll-horizontal {
  scrollbar-width: none;
}
.scroll-horizontal::-webkit-scrollbar {
  display: none;
}
