.overflow-container {
  overflow-x: auto;
  width: 100%;
}

.scroll-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
}

.scroll-horizontal {
  scrollbar-width: none;
}
.scroll-horizontal::-webkit-scrollbar {
  display: none;
}
