.container {
  color: #ffffff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form h3 {
  margin-top: 150px;
  margin-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
}

.form-input-container {
  display: flex;
}

.form input {
  background: #293754;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.form button {
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #187fe8;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#weather-data,
#error-message,
#suggestions {
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

#weather-data h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

#weather-data h2 i {
  font-size: 1rem;
}

#weather-data span {
  margin: 0.6rem;
}

#temperature {
  font-size: 4rem;
}

#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}

#description {
  text-transform: capitalize;
  font-weight: bold;
}

#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-container #umidity {
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: 0.6rem;
}

#loader i {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 850px) {
  .form h3 {
    margin-top: 100px;
  }
  .form-input-container input {
    width: 80%;
  }
}
